apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong-app
  namespace: exercises
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ping-pong-app
  strategy:
    canary:
      steps:
      - setWeight: 25
      - analysis:
          templates:
          - templateName: namespace-cpu-usage
      - pause:
          duration: 30s
      - setWeight: 50
      - pause:
          duration: 30s
  template:
    metadata:
      annotations:
        force-rollout: "test-7"
      labels:
        app: ping-pong-app
    spec:
      containers:
      - name: ping-pong-app
        image: anteropaivarinta/ping-pong-app:latest
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 5
          httpGet:
            path: /healthz
            port: 3000
        livenessProbe:
          initialDelaySeconds: 20
          periodSeconds: 5
          httpGet:
            path: /healthz
            port: 3000
