apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong-app-update-dep
  namespace: exercises
spec:
  replicas: 4
  selector:
    matchLabels:
      app: ping-pong-app-update
  strategy:
    canary:
      steps:
      - setWeight: 25
      - pause:
          duration: 30s
      - setWeight: 50
      - pause:
          duration: 30s
  template:
    metadata:
      labels:
        app: ping-pong-app-update
    spec:
      containers:
        - name: ping-pong-app
          image: anteropaivarinta/ping-pong-app:latest
          readinessProbe:
            initialDelaySeconds: 10 # Initial delay until the readiness is tested
            periodSeconds: 5 # How often to test
            httpGet:
               path: /healthz
               port: 3000
          livenessProbe:
            initialDelaySeconds: 20 # Initial delay until the liveness is tested
            periodSeconds: 5 # How often to test
            httpGet:
               path: /healthz
               port: 3000

---
# the service definition could be put here